.accordion {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  
.accordion_item {
    border-radius: 8px;
    border: 2px solid var(--first-color);
    overflow: hidden;
    margin-bottom: 12px;
}

.accordion_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--grey-200);
    border-bottom: 1px solid var(--grey-300);
    align-items: center;
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    color: var(--first-color-dark);
    text-align: left;
}
  
.icon {
    transition: transform 0.2s ease-in-out;
    border: 1px solid var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
  
.icon_up {
    transform: rotate(180deg);
}
  
.icon_down {
    transform: rotate(0deg);
}
  
.accordion_content {
    padding: 20px;
    text-align: left;
    line-height: 1.5;
}

.active .icon{
    border: 1px solid var(--white-color);
}
  
.active .accordion_content {
    display: block;
}
  
.active .accordion_content,
.active .accordion_title{
    color: var(--white-color);
    background-color: var(--first-color);
}
.icon_arrow{
    padding-bottom: '4px';
    scale: 1.1
}