.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    background-color: var(--button-color);
    padding: 10px 30px;
    font-size: var(--h4-font-size);
    border: 0;
    border-radius: var(--border-radius);
    color: var(--white-color);
    margin-bottom: 20px;
    cursor: pointer;
}

.button_preinscription{
    margin-bottom: 25px;
    margin-top: 6px;
}

.button:hover{
    background-color: var(--button-color-hover);
}

@media only screen and (min-width: 601px) {
    .button{
        margin-bottom: 70px;
    }
    .button_preinscription{
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 950px) {
    .button{
        font-size: var(--h3-font-size);
    }
}
@media only screen and (min-width: 1200px) {
    .button{
        margin-bottom: 80px;
    }
    .button_preinscription{
        margin-bottom: 25px;
    }
}